
.blog-header {
  background-color: $white;
  text-align: center;

  h1 {
    margin: 0;
  }

  hr {
    width: 25%;
    border-bottom: 3px solid $black;
    margin: auto;

    @include mobile {
      width: 50%;
    }
  }
}

.blog {
  background-color: $white;
  text-align: center;

  .major {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;

    .h1 {
      width: 100%;

      &:after {
        width: 50%;
        margin: auto;

        @include mobile {
          width: 100%;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }

}