
$dark_grey: #131a1b;
$grey: #959595;
$light_grey: #c4c4c4;
$lighter_grey: #ebebeb;
$lightest_grey: #eef1f3;




.timeline {
  position: relative;
  max-width: 900px;
  margin: 50px auto 2rem;
  padding: 0 24px 50px;

  &:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    width: 3px;
    height: 100%;
    margin: auto;
    background: #dddddd;
  }
}

.event {
  position: relative;
  overflow: hidden;
  margin-bottom: 46px;

  .event-date {
    position: absolute;
    top: 50%; right: 0;
    width: 46%;
    margin-top: -28px;
    font-size: 35px;
    font-weight: 700;
    color: $black;
  }

  .event-desc {
    color: $black;
    position: relative;
    float: left;
    width: 46%;
    height: auto;
    padding: 20px 24px;
    background: $white;
    border-bottom: 3px solid $light_grey;
    line-height: 22px;

    &.has-image {
      width: calc(46% - 65px);
      margin-left: 65px;

      img {
        position: absolute;
        top: 0; bottom: 0; left: -65px;
        display: block;
        width: 65px;
        height: 95px;
        margin: auto;
        object-fit: cover;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%; right: -13px;
      width: 0;
      height: 0;
      margin-top: -14px;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 14px solid $white;
    }
  }

  &:nth-child(even) {
    .event-date {
      left: 0;
      text-align: right;
    }

    .event-desc {
      float: right;

      &.has-image {
        margin-right: 65px;

        img {
          left: auto;
          right: -65px;
        }
      }

      &:after {
        left: -13px;
        border-left: none;
        border-right: 14px solid $white;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%; left: 0; right: 0;
    width: 10px;
    height: 10px;
    margin: -8px auto 0;
    background: $black;
    border-radius: 50%;
  }
}

@media all and (max-width: 900px) {

  .timeline {
    padding-right: 32px;

    &:before {
      left: 28px; right: auto;
      margin: 0;
      padding: 0 0 50px;
    }
  }

  .event {
    padding-left: 28px;

    .event-date {
      position: relative;
      top: auto; right: auto;
      width: 100%;
      margin: 0 0 16px;
    }

    .event-desc {
      float: none;
      width: 100%;
      overflow: hidden;

      &.has-image {
        width: auto;
        margin: 0;

        img {
          position: relative;
          bottom: auto; left: auto;
          float: left;
          margin: 0 20px 10px 0;
        }
      }

      &:after {
        display: none;
      }
    }

    &:nth-child(even) {
      .event-date {
        text-align: left;
      }

      .event-desc {
        float: none;

        &.has-image {
          margin: 0;

          img {
            right: auto;
          }
        }

        &:after {
          display: none;
        }
      }
    }

    &:before {
      top: 20px; left: 0; right: auto;
      margin: 0;
    }
  }
}

@media all and (max-width: 600px) {

  .event {
    .event-desc {
      &.has-image {
        img {
          display: none;
        }
      }
    }
  }
}